github "sergeyslavin/KGNColor" "master"
github "sergeyslavin/KGNAutoLayout" "master"
github "sergeyslavin/KGNGradientView" "master"
github "sergeyslavin/KGNPreferredFontManager" "master"

github "sergeyslavin/NSDate-TimeAgo" "master"
